body{
    height: 100vh;
    background:linear-gradient(90deg,rgb(41, 41, 41),rgb(54, 54, 54),rgb(41, 41, 41));
}
h1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration-style: dashed;
    text-shadow: -20px 0 #ffffff, 0 20px #ffffff, 20px 0 #ffffff, 0 -20px #ffffff;
    font-family: 'Sans-Serif';
    color:rgba(231, 131, 0, 0.863);
    font-size: 60px;
    border: 2px rgb(0, 0, 0);
}
.clear{
    color: rgb(231, 131, 0, 0.863);
    border-radius: 20%;
    padding:0 5px 0 5px ;
    background-color: rgba(34, 34, 34, 0.966);
    margin-bottom: 20px;
}
.dltbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    box-shadow: 5px 10px black;
    border-radius: 50%;
    padding: 0;
    background: none;
    border: none;
    background-color: white;
}
.dltbtn:hover{
    cursor: pointer;
}
#done{
    margin-left: 10px;
    box-shadow: 5px 10px black;
    border-radius: 50%;
    width: 40px;
}
li{
    background: rgba(34, 34, 34, 0.966);
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px ;
}
ul{
    font-size: 20px;
    color: white;
    padding: 0;
}
p{
    max-width: 200px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 5px;
    color: rgb(231, 131, 0, 0.863);
}
.task{
    color: rgba(231, 131, 0, 0.863);
    background-color: rgba(34, 34, 34, 0.966);
    border-radius: 10px;
    font-size: 20px;
    width: 250px;
    margin-bottom: 20px;
}
.addtask{
    color : rgb(231, 131, 0, 0.863);
    margin-bottom: 20px;
    background-color: rgba(34, 34, 34, 0.966);
    border-radius: 10px;
    font-size: 20px;
}
.addtask:hover{
    cursor: pointer;
}
.cont{
    display: flex;
    flex-direction: row;
}
.contclock{
    display: flex;
    justify-content: center;
}
#clock{
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(231, 131, 0, 0.863);
}
.divlist{
    max-width: 350px;
}